*{

    padding: 0;
    margin: 0;
}

html{

    height: 100%;
    font-size: 62.5%;
}

body{

    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}

section{

    font-family: sans-serif ;
    color: black;
    text-align: center;
    text-shadow: 0 0 1.5rem  rgba(0,0,0, 0.0);
}

#date{
font-size: 2.5rem;
margin-top: 0.5rem;
letter-spacing:1rem ;


}

#time{

    font-size: 12rem;
    letter-spacing:1.5rem ;
    font-weight: bold;





}
small{
font-size: 4rem;
letter-spacing: 0.5rem;


}